{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Bienvenido al proyecto de formularios Symfony</h1>
    <p>
        Pulsa los botones de la barra de navegación para trabajar.
    </p>
{% endblock %}
