{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Eliminar el local: {{ local.nombre }}</h1>
    <form method="post">
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Sí, quiero eliminarlo</button>
        <a href="{{ path('mostrar_locales') }}" class="btn btn-info">No, quiero volver</a>
    </form>
{% endblock %}

