{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Listado de Estados</h1>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="col-sm-5">Nombre</th>
                <th class="col-sm-5">Fechaa</th>
                <th class="col-sm-2">Fechab</th>
                <th class="col-sm-2"><a href="{{ path('nuevo_provedor') }}" class="btn btn-success"><i class="fa fa-plus"></i> Añadir local</a></th>
            </tr>
        </thead>
        <tbody>
            {% for provedor in provedores %}
                <tr>
                    <td>{{ provedor.nombre }}</td>
                    <td>{{ provedor.fechaAlta | date('d/m/Y')  }}</td>
                    <td>{{ provedor.fechaBaja | date('d/m/Y')  }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
